<h2>Welcome to the beautiful city of <%= @city.name %> </h2>

<p>
  we exist
</p>

<h4>Trains stopping in this city</h4>
<% @city.trains.each() do |train|%>
  <ul>
    <li><%= train[0].name %> <%= train[1] %></li>
  </ul>

<% end %>

<form action="/city_trains" method="post">
  <div class="form-group">
    <input type="hidden" name="id" value="<%= @city.id %>">
    <label for="name">New Train Name:</label>
    <select  name="train_id">
      <% @trains.each do |train| %>
        <option value="<%= train.id %>"><%= train.name %></option>
      <% end %>
      <input id="basicExample" value='00:00' name="arrival_time" type="text" class="time ui-timepicker-input" data-scroll-default="6:00am" autocomplete="off">
    </select>
  </div>
  <button type='submit'>Submit</button>
</form>
<a href="/">back</a>
